h1,
h2 {
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-weight: 600;
}

nav {
  height: 120px;
  background-color: black;
  margin: -20px 0 0 -30px;
}

.logo {
  display: block;
  position: absolute;
  right: 0;
  top: -20px;
  left: 0;
  margin: 0 auto;
  height: 180px;
}

body {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  animation: animate 20s linear infinite 1s;
  animation-timing-function: ease-in-out;
  background-image: url('./images/image1.jpg');
}

@keyframes animate {
  0% {
    background-image: url('./images/image1.jpg');
  }

  25% {
    background-image: url('./images/image2.jpg');
  }

  50% {
    background-image: url('./images/image4.jpg');
  }

  75% {
    background-image: url('./images/image6.jpg');
  }

  100% {
    background-image: url('./images/image7.jpg');
  }
}

#head-container {
  position: absolute;
  right: 0;
  top: 90px;
  left: 50px;
}

.title {
  font-size: 32px;
  font-family: 'Quicksand', sans-serif;
}

.scores-title,
.add-title {
  font-size: 28px;
  font-family: 'Quicksand', sans-serif;
}

#scores {
  width: 100%;
  margin-left: 60px;
}

.scores-bar {
  display: flex;
  flex-direction: row;
  margin-top: 45px;
}

#add-container {
  float: right;
  position: absolute;
  right: 0;
  top: 152px;
  left: 850px;
  width: 35%;
}

.scoresForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  min-height: 15vh;
}

button {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  font-family: 'Quicksand', sans-serif;
  color: black;
  box-shadow: 5px 8px black;
}

.refresh-btn {
  width: 150px;
  height: 40px;
  margin-top: 22px;
  margin-left: 200px;
}

.submit-btn {
  width: 100px;
  height: 40px;
  margin-left: 345px;
}

.scoresBoard {
  width: 35%;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

input {
  border-style: solid;
  border-color: white;
  border-width: 2px;
  height: 25px;
}

.listOne {
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-size: 16px;
  padding: 5px;
  margin-left: 5px;
}

.listTwo {
  font-family: 'Quicksand', sans-serif;
  color: black;
  font-size: 16px;
  background-color: grey;
  padding: 5px;
  margin-left: -35px;
}

li {
  list-style: none;
}
