h1,
h2 {
  font-family: 'Quicksand', sans-serif;
  color: black;
  font-weight: 600;
}

body {
  background-color: white;
}

#head-container {
  margin-left: 20px;
}

.title {
  font-size: 32px;
  font-family: 'Quicksand', sans-serif;
}

.scores-title,
.add-title {
  font-size: 28px;
  font-family: 'Quicksand', sans-serif;
}

#scores {
  width: 100%;
  margin-left: 60px;
}

.scores-bar {
  display: flex;
  flex-direction: row;
}

#add-container {
  float: right;
  position: absolute;
  right: 0;
  top: 80px;
  left: 850px;
  width: 35%;

}

.scoresForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  min-height: 15vh;
}

button {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  font-family: 'Quicksand', sans-serif;
  color: black;
  box-shadow: 5px 8px black;
}

.refresh-btn {
  width: 150px;
  height: 40px;
  margin-top: 22px;
  margin-left: 200px;
}

.submit-btn {
  width: 100px;
  height: 40px;
  margin-left: 345px;
}

.scoresBoard {
  width: 35%;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

input {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  height: 25px;
}

.listOne {
  font-family: 'Quicksand', sans-serif;
  color: black;
  font-size: 16px;
  padding: 5px;
  margin-left: -35px;
}

.listTwo {
  font-family: 'Quicksand', sans-serif;
  color: black;
  font-size: 16px;
  background-color: grey;
  padding: 5px;
  margin-left: -35px;
}

li {
  list-style: none;
}
