h1,
h2{
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-weight: 600;
}
body{
    background-color: white;
}

#head-container{
    margin-left: 20px;
}

.title{
    font-size: 32px;
    font-family: 'Quicksand', sans-serif;
}

.scores-title,
.add-title{
    font-size: 28px;
    font-family: 'Quicksand', sans-serif;
}

#scores{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-left: 60px;
}

.scores-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#add-container{
  float: right;
  margin: -80px 250px 20px 600px;
  width: 35%;
}

.input-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    min-height: 15vh;
    
}

button{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    font-family: 'Quicksand', sans-serif;
    color: black;
    box-shadow: 5px 8px black;
}

.refresh-btn {
    width: 150px;
    height: 40px;
    margin-top: 22px;
    
}

.submit-btn {
    width: 100px;
    height: 40px;
    margin-left: 345px;
}

.scores-board{
    width: 100%;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

input{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    height: 25px;
}